doctype html
html
  head
    title= title
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-2.1.1.min.js")
    script(src="/javascripts/exchange.js")
  body
    include header
    block content
    include footer

